[package]
name = "kani-fast-counterexample"
description = "Beautiful, actionable counterexample generation for Kani Fast"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
authors.workspace = true

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
regex = { workspace = true }
lazy_static = { workspace = true }

[dev-dependencies]
